*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared-style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
   
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.txt-center{
    text-align: center;
    margin-top: 50px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0 auto;    
    
}
.about-continer h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 30px;
}

.about-continer p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575 ;    
   
}
/* main-style */
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png) , url(../images/header_bg.png) ,#FFF8F3;
    background-repeat: no-repeat;
    background-position: 30px 38px , bottom right;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
 nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px; 
    text-decoration: none;
    align-items: center;
    

}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    
}

#banner{
    /* border: 1px solid black; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-contant{
    max-width: 585px;
}

#banner .banner-contant h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-contant h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-contant p{
    font-size: 18px;
    font-weight: 400;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about , #skils , #resume{
    padding-top: 130px;
    
}

#about .about-continer{
    width: 71%;
    max-width:1140px ;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}


#about .about-continer .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .about-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575 ;   


}

.about-info .about-card h4{
    font-size: 20px;
}

#skils .skils-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
}

#skils-heading{
     max-width: 827px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0 auto;
}

#skils-heading h1{
    padding-bottom: 30px;
}

#skils .skils-container .skils-box{
    display: flex;
    gap: 24px;
}

#skils .skils-container .skils-box .skil-card{
    padding: 30px;
    /* border: 1px solid rebeccapurple; */
    box-shadow: 0 6px 50px 0 #00000023;
    max-width: 267px;
}

.skil-card img{
    max-width: 44px;
    padding-bottom: 30px;
}

.skil-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #171717;
    padding-bottom: 20px;
}

.skil-card p{
    font-size: 16px;
    font-weight: 400;
    color:#757575;
    line-height: 28px;
    
    
}
.resume-container hr{
    margin: 30px 0;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

}

.resume-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;    
    
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #474747;
}

.resume-card .card-txt{
    font-size: 16px;
    font-weight: 400;    
    color: #757575;
}

footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .social{
    max-width: 562px;

}
.footer-container .social p {
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

.footer-container .icon a{    
    margin-right: 24px;
}

.footer-container form input[type="text"] , .footer-container form input[type="email"] , .footer-container form textarea{

    width: 461px;
    padding: 18px 31px;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
    color: #757575;

}




